<%= form_for @conn, "/wp-login.php?action=postpass", [class: "post-password-form"], fn f -> %>
  <p>This content is password protected. To view it please enter your password below:</p>
  <p>
    <%= label f, :post_password do %>
      Password: <input name="post_password" id="pwbox-131" type="password" size="20">
    <% end %>
  </p>
  <p class="form-group">
    <input type="submit" name="Submit" value="Enter">
  </p>
<% end %>
