<%= case @thumbs[@post.id] do %>
  <% thumb = %Legendary.Content.Post{} -> %>
    <%= if thumb |> Legendary.Content.Attachment.vertical?() do %>
      <div class="post-thumbnail post-thumbnail--vertical">
        <%= img_tag thumb.guid %>
      </div>
    <% else %>
      <div class="post-thumbnail">
        <%= img_tag thumb.guid %>
      </div>
    <% end %>
  <% nil -> %>
<% end %>
