<%%= form_for @changeset, @action, [class: "ui large form"], fn f -> %>
  <div class="ui stacked left aligned segment">
<%= for input <- Mix.Legendary.inputs(schema) do %>
    <%= input %>
<% end %>
    <div>
      <%%= submit "Save", class: "ui primary fluid large submit button" %>
    </div>
  </div>
<%% end %>
