<%= preview do %>
  Password reset instructions.
<% end %>

<%= row do %>
  <%= col 1, of: 1 do %>
    <%= h1 do %>
      Hello there,
    <% end %>

    <%= p do %>
      Please use the following link to reset your password:
    <% end %>

    <%= styled_button href: @url do %>
      Reset my password
    <% end %>

    <%= p do %>
      You can disregard this email if you didn't request a password reset.
    <% end %>
  <% end %>
<% end %>
