<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= I18n.t! "en", "site.title" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <main role="main" class="container">
      <%= render "_side_menu.html", assigns %>

      <!-- Page Contents -->
      <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">
          <%= render "_menu.html", assigns %>
        </div>

        <%= flash_block(@conn) %>

        <%= @inner_content %>
      </div>
    </main>
  </body>
</html>
